@import "syntax-variables";

atom-text-editor {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
}

atom-text-editor .gutter {
  background-color: @syntax-gutter-background-color;
  color: @syntax-gutter-text-color;
}

atom-text-editor .gutter .line-number.cursor-line {
  background-color: @syntax-gutter-background-color-selected;
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .gutter .line-number.cursor-line-no-selection {
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .wrap-guide {
  color: @syntax-wrap-guide-color;
}

atom-text-editor .indent-guide {
  color: @syntax-indent-guide-color;
}

atom-text-editor .invisible-character {
  color: @syntax-invisible-character-color;
}

atom-text-editor.is-focused .cursor {
  border-color: @syntax-cursor-color;
}

atom-text-editor.is-focused .selection .region {
  background-color: @syntax-selection-color;
}

atom-text-editor.is-focused .line-number.cursor-line-no-selection, atom-text-editor.is-focused .line.cursor-line {
  background-color: #073642;
}

.syntax--comment {
  font-style: italic;
  color: @base01;
}

.syntax--constant, .syntax--support.syntax--constant {
  color: @cyan;
}

.syntax--entity {
  color: @blue;
}

.syntax--invalid {
  color: @red;
}

.syntax--invalid.syntax--deprecated {
  color: @magenta;
}

.syntax--keyword {
  color: @green;
}

.syntax--storage {
  color: @yellow;
}

.syntax--string {
  color: @cyan;
}

.syntax--support {
  color: @yellow;
}

.syntax--variable {
  color: @blue;
}

.syntax--markup.syntax--underline {
  color: @violet;
}

.syntax--markup.syntax--bold {
  font-weight: bold;
}

.syntax--markup.syntax--heading {
  color: @orange;
}

.syntax--markup.syntax--italic {
  font-style: italic;
}

.syntax--markup.syntax--quote, .syntax--markup.syntax--raw {
  color: @cyan;
}

.syntax--markup.syntax--deleted {
  color: @red;
}

.syntax--markup.syntax--inserted {
  color: @green;
}

.syntax--markup.syntax--changed {
  color: @yellow;
}

.syntax--markup.syntax--ignored {
  color: @base01;
}

.syntax--markup.syntax--untracked {
  color: @base01;
}

.syntax--meta.syntax--diff {
  color: @blue;
}
